/* styling for the contact page */
* {
    box-sizing: border-box;
}

nav {
    background-color: #EDC7B7;
}

form {
    background-color: #BAB2B5;
    padding: 1em;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #EDC7B7;
}