/* styling for the contact page */
* {
    box-sizing: border-box;
}

header {
    margin-bottom: 2em;
    font-family: "Raleway", sans-serif;
  }

nav {
    background-color: #EDC7B7;
}

h1 {
    font-family: "Raleway", sans-serif;
}

form {
    background-color: #BAB2B5;
    padding: 1em;
    font-family: "Open Sans", sans-serif;
    
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #EDC7B7;
}